<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dnswrl/style.css' %}">
</head>
<body>

<div id="container" align="center">

    <div id="header" ></div>

<div id="content">

{% if possible_diseases_list %}
    <div id="have_disease" align="left" style="padding:20px 0 20px 500px">

<form action="{% url 'dnswrl:result' %}" method="post">
    {% csrf_token %}
    <h1 name="possible_diseases_list" id="have">可能得了：
        {% for possible_diseases in possible_diseases_list %}
        {{possible_diseases}} <br>
        {% endfor %}
    </h1>
    <input type="hidden" name="possible_disease" id="possible_disease" value="{{possible_diseases_list}}">

    <h3>其他症状</h3>
    <ul>
    {% for symptoms in symptoms_list %}
        <li>{{ symptoms.symptoms_text }}</li>
        {% for choice in symptoms.symptomslist_set.all %}
        <input type="radio" name="choice{{ forloop.parentloop.counter }}" id="choice{{ forloop.parentloop.counter }}" value="{{symptoms.symptoms_text}}/{{ choice.symptomsList_text }}">
        <label>{{ choice.symptomsList_text }}</label><br>
        {% endfor %}
    {% endfor %}
    </ul>

    <h3>相关检查</h3>
    <ul>
    {% for examines in examines_list %}
        <li>{{ examines.examine_text }}</li>
        {% for examine in examines.examinelist_set.all %}
        <input type="radio" name="examine{{ forloop.parentloop.counter }}" id="examine{{ forloop.parentloop.counter }}" value="{{examines.examine_text}}/{{ examine.examineList_text }}">
        <label>{{ examine.examineList_text }}</label><br>
        {% endfor %}
    {% endfor %}
    </ul>

    <input style="font-size:20px; background-color:#90EE90;" type="submit" value="提交">


</form>
    </div>

{% else %}

    <div id="not_have_disease" align="left" style="padding:20px 0 20px 500px">

<form action="{% url 'dnswrl:inputText' %}" method="post">
    {% csrf_token %}
    <h2 name="possible_diseases_list" id="not have">你输入的信息：</h2>
    <p>{{ inputText }}</p>
    <h2>查询结果：</h2>
    <p>暂时没有相关病症个案，敬请期待。</p>
    <input style="font-size:20px; background-color:#90EE90;" type="submit" value="返回">
</form>

    </div>
{% endif %}


</div>

<div id="footer">
    <!--<p>-->
        <!--相关链接：-->
        <!--<a href="http://www.lntu.edu.cn/">辽宁工程技术大学</a>-->
        <!--<a href="http://dxxy.lntu.edu.cn/">电子与信息工程学院</a>-->
    <!--</p>-->
    <!--<p>-->
        <!--<a href="http://www.ikcest.org/index.htm">国际工程科技知识中心</a>-->
        <!--<a href="http://www.ckcest.cn/" target="_blank">中国工程科技知识中心</a>-->
        <!--<a href="http://www.cae.cn/cae/html/main/index.html" target="_blank">中国工程院</a>-->
    <!--</p>-->
    <!--<p>-->
        <!--<a href="https://bigd.big.ac.cn/?lang=zh" target="_blank">国家基因组科学数据中心</a>-->
        <!--<a href="http://www.ncmi.cn/" target="_blank">国家人口与健康科学数据共享服务平台</a>-->
        <!--<a href="https://www.stemcell.xin/" target="_blank">国家干细胞转换资源库</a>-->
    <!--</p>-->
    <p id="lydia">Lydia</p>
</div>

</div>


</body>
</html>