
#container {
    width:expression(document.body.clientWidth);
    height: expression(document.body.clientHeight);
    margin:0 auto;
}

#header {
    background: white url("images/bg_search_2019ncov.png") no-repeat center;
    background-size: 100% auto;
    height: 100px;
    width: 100%;
    top: 20px;
}

#content {
    height: auto;
    width: 100%;
    background: #FFE4E1;

}

#footer {
    position:relative;
    margin: -20px 0 0 0;
    background: white url("images/bg_foot_search_2019ncov.png") center;
    text-align:center;
    width: 100%;
    height: auto;
    bottom: 0px;
}

#nconv {
    padding:0  100px 0 100px
}

#news {
    font-weight: bold;
    color: #880000;
}

#lydia {
    padding:0 0 20px 0
}

#confirm {
    height:40px;
    width:80px;
    background-color:#909497;
    color:white;
    font-size:20px"
}